body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  padding: 2em 0 0 0;
}

.display-3 {
  font-size: 24px;
  font-weight: bold;
}

.taskItem {
  border: none;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  padding-bottom: 3em;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: black;
}

.hourName,
.taskItem {
  border-bottom: 1px solid #000000;
}

.hourName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.past {
  background-color: #d3d3d3;
  color: #00000069;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #ddbc27;
  color: white;
}

.saveBtn {
  border: 1px solid rgb(91, 91, 91);
  background-color: black;
  color: white;
}

.saveBtn:hover {
  border: 3px solid #ff6961;
  color: white;
  transition: all 0.1s ease-in-out;
}

::placeholder {
  color: whitesmoke;
}